

.navbar-nav{
    color: red;
    float: right;
    font-family: italic;
    font-size: 17px;
  
padding-top: 0px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


   
  .navbar img{
    width: 500px;
    height: 100px;}

.navbar-nav a:hover {
  background-color: white;
  color: red;
  
}
.search a{
  
  color: white;
  padding-left: 1200px;
  text-decoration: none;
  font-size: 17px;

  
}




 .container-fluid {
  
  background-image: url("static/travel2.jpg");

  min-height: 700px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
  padding-top:  500px;
  padding-left: 1200px;
   font-style: italic;
}
.blog h1{
  padding-left: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: italic;

}
.video{
  background-image: url("static/travel2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;

}
.blog{
  padding-bottom: 100px;
  padding-top: 100px;
}
.go{
  
}

.navbar img:hover{
  background-color: white;
  transform: scale(2.5);
}
.next{
  background-color: lightgrey;
  color: white;
  min-height: 200px;
  padding-top:  50px;
  padding-left: 1000px
}
.next h1{
  color: black;
}
select{
  width: 200px;

}
.footer {
  border-radius: 2px solid black;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   color: white;
   
}
button{
  background-color: white;
}
#footer1{
  padding-top: 100px;
  padding-left: 50px;
  color:white;

}

.footer-border {
    border-top: 2px solid #dc3545;
    padding-bottom: 26px;
    padding-top: 20px;
    color: #dc3545;
}
.text {
    padding-bottom: 26px;
    background-color: #343a40;
}
.text2 {
    width: 70%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding-top: 40px;
}
#text3{
  padding-right: 400px;
    padding-left: 400px;
    color: red;
}
#footer{
  background-color: #343a40;

}
#map{
  padding-top: 40px;
}
.search-container {
  padding-left: 1000px;
  
 
}
.serach-container button{
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: red;
}
.search-container button:hover {
  
  color:red;
}

  .search-container input[type=text] {
    border: 1px solid #ccc;
  }
#company{
  padding-top: 100px;
  color: white;
}
.links ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.where_to_go
  {
    background: #040E27;
    padding: 50px 0;
  padding-bottom: 100px;
    
}
.container1 {
    width: 100%;
    padding-right: 15px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;

    

}
.align-items-center {
    
    align-items: center!important;
    padding-left: 500px;

  }
  .where_to_go .input_field input {
    width: 100%;
    height: 50px;
    
    border: 1px solid #363E52;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: grey
  }
  .search_wrap{
    padding-left: 50px;
  }
   .where_to_go .form_area h3 {
    font-size: 30px;
    color: #fff;
    
    margin-bottom: 0;
    padding-right: 200px;
    color: white;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }



  
.contact-form{
 
 position: relative;  
}

.contact-form h1{
 padding:2em 1px;
 color: #F97300; 
}
.contact-form .right{
 max-width: 600px;
}
.contact-form .right .btn-secondary{
 background:  #F97300;
 color: #fff;
 border:0;
}
.contact-form .right .form-control::placeholder{
 color: #888;
 font-size: 16px;
}

.portfolio{
 margin: 4em 0;
 position: relative; 
}
.portfolio h1{
 color:#F97300;
 margin: 2em; 
 text-align: center;
}
.portfolio img{
  height: 15rem;
  width: 100%;
  margin: 1em;
  border-radius:8px
 
}
